/* This file file import npm css files,
no class definitions */

@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  @apply
    m-0
    flex
    place-items-center
    min-w-3xs
    h-screen
    bg-gray-900
  ;
}

#root {
  @apply
    bg-gray-800
    p-6
    pb-2
    mx-auto
    my-0
    max-w-5xl
    text-center
    justify-center
    items-center
    rounded-lg
    shadow-md
  ;
}

.tilemap-title {
  @apply
    flex
    justify-center
    items-center
    mb-6
    font-medium
    text-3xl
    text-emerald-500
  ;
}

.tilemap-footer {
  @apply
    mt-2    
    justify-center
    items-center
    font-medium
    text-xs
    font-mono
    text-emerald-500
  ;
}

.editor-layout {
  @apply
    flex
    gap-8
    p-8
    bg-emerald-100
    justify-center
    items-center
    rounded-lg
    shadow-md
  ;
}

.editor-canvas {
  @apply
    border
    rounded-lg
    bg-white
    shadow-xl
  ;
}

.editor-tools {
  @apply
    flex
    flex-col
    items-center
    bg-gray-800
    pt-4
    rounded-lg
    shadow-md
  ;
}

.editor-tools__header {
  @apply
    flex
    items-center
    justify-center
    w-full
    p-4
    mb-2
    font-semibold
    text-lg
    text-white
    bg-gray-900
    rounded-lg
    shadow-md
  ;
}

.editor-tools__main {
  @apply
    flex
    flex-col
    items-center
    w-full
    p-4
    bg-gray-600
    rounded-lg
    shadow-md
  ;
}

.preview-canvas {
  @apply
    border
    rounded-lg
    bg-white
    shadow-xl
  ;
}

.editor-form {
  /* @apply flex flex-col justify-center items-center gap-2 */
  @apply
    flex
    flex-col
    gap-2
    mb-2
  ;
}

.editor-form__label {
  @apply
    flex
    flex-col
    items-center
    text-sm
    text-zinc-300
  ;
}

.editor-form__slider {
  @apply
    w-32
  ;
}

.editor-form__value {
  @apply
    self-start
    font-medium
    text-xs
    text-emerald-300
  ;
}
